.Fliter-div{
    border-top: 1px solid var(--grey);
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    overflow-x: auto;
    margin: 1em 1em 1em 1em;
    
}
.links-box {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    border-bottom: 1px solid var(--white);
    min-width: 60px;
    margin: 1em 1em 1em 1em;
}

.links-box:hover ,.selected-box{
    opacity: 1;
border-bottom: 1px solid var(--black);
transition: all 0.3s;
}

.links-img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    margin: 1em 1em 0em 1em;
}
.links-label{
    font-size: 0.7rem;
    font-weight: 600;
    columns: var(--grey);
}
.selected-label{
    color: var(--black);
}